<form onsubmit={{action "login"}}>
  {{#each errors as |error|}}
    <div class="alert alert-danger">{{error.detail}}</div>
  {{/each}}

  <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
  <h1 class="h3 mb-3 fw-normal">Вход</h1>

  <div class="form-floating">
    {{input type="email" value=email class="form-control" id="floatingInput" placeholder="name@example.com"}}
  </div>
  <div class="form-floating">
    {{input type="password" value=password class="form-control" id="floatingPassword" placeholder="Пароль"}}
  </div>

  <div class="checkbox mb-3">
    <label>
      {{!-- {{input type="checkbox" value="remember-me"}} Запомнить --}}
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Войти</button>
  {{#link-to "index" class="w-100"}}Назад{{/link-to}}
</form>
