<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}
    <img src="/images/logo-dark.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Книжный клуб
  {{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Открыть меню">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="nav navbar-nav navigation-main">
      <li class="nav-item">
        {{#link-to "index" class="nav-link"}}{{t "menu.desktop"}}{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "meeting" class="nav-link"}}{{t "menu.meetings"}}{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "books" class="nav-link"}}{{t "menu.books"}}{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "speakers" class="nav-link"}}{{t "menu.speakers"}}{{/link-to}}
      </li>
      <li class="nav-item">
        <a class="nav-link text-success" href="#">{{t "menu.makeReq"}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="#">{{t "menu.toSchedule"}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <select class="nav-link" id="languageSelect" onchange={{action "changeLocale"}}>
          <option value="ru" selected={{isRussian}}>{{t "menu.langRu"}}</option>
          <option value="en" selected={{isEnglish}}>{{t "menu.langEn"}}</option>
        </select>
      </li>
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          <p class="nav-link">Hello, <strong>{{currentUser.user.username}}</strong></p>
        </li>
      {{/if}}
      {{#if session.isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link" href="#" onclick={{action "logout"}}>{{t "menu.logout"}}</a>
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to "register" class="nav-link text-info"}}{{t "menu.register"}}{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "login" class="nav-link"}}{{t "menu.login"}}{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
{{outlet}}
<footer class="footer">
  <div class="container">
      <span>&copy; New Platform Ltd., 2022</span>
  </div>
</footer>
